.course-card {
    border-radius: 10px;
    border: solid black;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 60px;
    background-color: white;
    width: 500px;
}