.course-card {
    border-radius: 1px;
    border: solid lightseagreen 1px;
    box-shadow: lightgray 1px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin: 5px;
    background-color: rgb(252, 186, 63);

    &__assignments-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__course-container {
        display: inline-flex;
        flex-direction: row;
        gap: 20px;

        &__button {
            height: 37;
            width: fit-content;
        }
    }


    
}