.course-card {
    border-radius: 1px;
    border: solid black;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin: 5px;
    
}